bin/ obj/ *.pdb *.dll *.exe *.csproj.user .vscode/ *.sln TaskManager.Tests/TestResults/
/TaskManager/obj/Debug/net8.0/TaskManager.AssemblyInfo.cs
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.AssemblyInfo.cs
/TaskManager/obj/Debug/net8.0/TaskManager.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager/obj/Debug/net8.0/TaskManager.AssemblyInfoInputs.cache
/TaskManager/obj/Debug/net8.0/TaskManager.assets.cache
/TaskManager/obj/project.assets.json
/TaskManager/obj/project.nuget.cache
/TaskManager/obj/TaskManager.csproj.nuget.dgspec.json
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.AssemblyInfoInputs.cache
*.db-wal
/.vs/TaskManager/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/TaskManagement/v17/DocumentLayout.json
/.vs/TaskManagement/v17/.wsuo
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.assets.cache
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.csproj.AssemblyReference.cache
/TaskManager.Tests/obj/project.assets.json
/TaskManager.Tests/obj/project.nuget.cache
/TaskManager.Tests/obj/TaskManager.Tests.csproj.nuget.dgspec.json
/TaskManager.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_TaskManager.Tests
*.vsidx
/.vs/TaskManager/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.pdb
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.Tests.dll
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.Tests.pdb
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.dll
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.exe
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.pdb
/TaskManager.Tests/bin/Debug/net8.0/MvcTestingAppManifest.json
/TaskManager.Tests/bin/Debug/net8.0/TaskManager.staticwebassets.runtime.json
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.dll
/TaskManager/obj/Debug/net8.0/ref/TaskManager.dll
/TaskManager/obj/Debug/net8.0/refint/TaskManager.dll
/TaskManager/obj/Debug/net8.0/apphost.exe
/TaskManager/obj/Debug/net8.0/TaskManager.AssemblyInfoInputs.cache
/TaskManager/obj/Debug/net8.0/TaskManager.dll
/TaskManager/bin/Debug/net8.0/TaskManager.pdb
/TaskManager/bin/Debug/net8.0/TaskManager.dll
/TaskManager/bin/Debug/net8.0/TaskManager.exe
/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
/TaskManager/obj/Debug/net8.0/TaskManager.pdb
/TaskManager.Tests/obj/Debug/net8.0/ref/TaskManager.Tests.dll
/.vs/TaskManager/v17/DocumentLayout.backup.json
/.vs/TaskManager/v17/DocumentLayout.json
/TaskManager/obj/Debug/net8.0/TaskManager.sourcelink.json
/TaskManager.Tests/obj/Debug/net8.0/TaskManager.Tests.sourcelink.json
